.music-player,
{
	font-family:Verdana, Arial, sans-serif;
	color: #666;
}

.music-player button { height: 16px; width: 16px; color: #000; background: transparent; border: 0 transparent none; }
.music-player button:hover { color: #FFF; }

.jp-pause {
	display: none;
}

.progress {
    display: inline-block;
	background-color: #FFF;
    width: 300px;
	height:10px;
}

.jp-current-time,
.jp-duration {
	font-style:oblique;
}

.volume {
    display:inline-block;
    height: 5px;
    width: 80px;
    background-color: #FFF;
    cursor: pointer;
}
