/* Eric Meyer Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0;	border: 0; font-size: 100%;	font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
em { font-style: italic; }
strong { font-weight: bold; }
:focus { outline: 0; }

/* Custom Scroll Bar (Webkit) probably for within the player, but on whole page for now */
::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-button:vertical:increment { background-color: #333; }
::-webkit-scrollbar-track-piece { background-color: #333; }
::-webkit-scrollbar-thumb:vertical { height: 50px; background-color: #666; border: 1px solid #000; border-radius: 3px; }
::-webkit-scrollbar-thumb:horizontal { width: 50px; background-color: #666; border-radius: 3px; }

/* Helper classes */
.clearfix:after { visibility: hidden; display: block; content: " "; clear: both; height: 0; }
.hide { display: none; }

body { background: #555; color: #444; font-family: Helvetica,Arial,sans-serif; font-size: 11px;  }
button:before,
.button:before { content: attr(data-icon); font: 12px/0 'Pictos'; margin-right: 3px; }
.primary:before,
.button.primary:before { color: #6FAA00; }
a { color: #0077CC; text-decoration: none; }
a:hover { color: #333; text-decoration: underline; }
p { color: #666; line-height: 14px; }
button, input, textarea { font-family: inherit; font-size: inherit; }
.icon { font: 12px/0 'Pictos'; padding: 0; background: none; border: none; box-shadow: none; border-radius: 0px; }
.userPic { width: 50px; height: 50px; }

/* Headers */
h1,h2,h3,h4,h5 { letter-spacing: -.02em; }
h1,
h2 { font-size: 18px; }
h3 { font-size: 14px; }
h4 { font-size: 12px; }
h5 { font-size: 11px; }

/* Forms */
input, textarea { padding: 4px; border: 1px solid #CCC; border-color: #BBB #BBB #999 #999; border-radius: 2px; color: #666; }
input:focus, textarea:focus { border-color: #AAA; box-shadow: 0 0 2px rgba(0,0,0,0.2); color: #333; }
form > div { margin-bottom: 10px; }
form > div:last-child { margin: 0; }
form > .right { text-align: right; }
form > div > label { cursor: pointer; display: block; margin-bottom: 5px; font-weight: bold; }

/* buttons */
button, .button { cursor: pointer; padding: 4px 6px; background: #CCC; font-size: 11px; font-weight: bold; color: #444; border: 1px solid #AAA; border-bottom-color: #777; box-shadow: 0 1px 2px rgba(0,0,0,0.1); border-radius: 2px;
	background: -moz-linear-gradient(#FFF, #E8E8E8); background: -webkit-linear-gradient(#FFF, #E8E8E8); }
.button { display: inline-block; height: 14px; padding: 4px 9px; line-height: 14px; text-align: center; }
button:hover, .button:hover { background: #FFF; background: -moz-linear-gradient(#FFF, #DDD); background: -webkit-linear-gradient(#FFF, #DDD); text-decoration: none; }
button:active, .button:active { background: #DDD; }
button[disabled] { cursor: default; background: #DDD; color: #999; }

/* Grid */
.grid { margin: -10px -10px 0 0; }
.grid > li { float: left; margin: 10px 10px 0 0; }

/* Header */
#header { padding: 10px 0; position: fixed; top: 0; width: 100%; line-height: 18px; background: #DF4747; color: #FFF;
	background-image: -moz-linear-gradient(#DF4747, #C73B3B); background-image: -webkit-linear-gradient(#DF4747, #C73B3B);
        box-shadow: 0 -1px 1px rgba(255,255,255,0.2) inset; }
#header > h1 { float: left; width: 120px; padding: 0 20px; font-weight: bold; text-shadow: 0 1px 1px rgba(0,0,0,0.6); }
#player { float: left; margin-right: 250px; }
#header > nav { float: right; line-height: 18px; width: 230px; padding: 0 20px; text-align: right; }
#header > nav > a { color: #fff; }
#header > nav > .signup { padding: 5px 12px; margin-left: 5px; border-radius: 14px; color: #FFF; background: #99BF46; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }
#header > nav > a:hover { text-decoration: none; }

/* Content Layout */
#wrap { margin: 48px 10px 10px; background: #fff; border-radius: 6px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.8); }
#leftRail { float: left; width: 150px; border-right: 1px solid #DDD; }
#main { /* temp*/ min-height: 400px; /* temp */  margin-left: 150px; border-left: 1px solid #DDD; }
#content { margin-right: 250px; }
#rightRail { float: right; width: 250px; border-left: 1px solid #DDD; }

/* Modules */
.module { overflow: auto; padding: 15px; }
.module + .module { padding-top: 5px; }
.module > h3 { margin-bottom: 10px; font-size: 14px; font-weight: normal; }

/* Article Header */
#main > header { min-height: 50px; padding: 15px; border-bottom: 1px solid #DDD; }
#main > header > .actions { float: right; }
#main > header > .actions > button + button { margin-left: 5px; }
#main > header > img { float: left; margin-right: 10px; }
#main > header > p { margin-top: 2px; }

/* Stream Module */
.mediaList > li { min-height: 25px; padding: 10px 0; border-top: 1px solid #EEE; }
.mediaList > li:first-child { border: none; padding-top: 0; }
.mediaList > li > img { float: left; }
.mediaList > li > h5 { margin: 0 0 2px 35px; font-weight: bold; }
.mediaList > li > p { margin-left: 35px; }

/* Song list */
.songs { padding: 15px; font-weight: bold; }
.songs > li { padding: 0 10px; cursor: pointer; list-style: decimal-leading-zero inside none; }
.songs > li:nth-child(even) { background: #F9F9F9; }
.songs > li > div { display: inline-block; width: 27%; padding: 10px; border-left: 1px solid #EEE; }
.songs > li > div:first-child { border: none; }
.songs > li a { color: #333; }

/* List of Playlists =TEMP */
.playlists > li { padding: 10px; border-top: 1px solid #ddd; font-size: 12px; font-weight: bold; cursor: pointer; list-style: decimal-leading-zero; list-style-position: inside; }
.playlists > li:first-child { border: none; }
.playlists > li:hover { background: #F6F6F6; }
.playlists > li > a { color: #333; }

/* Nav  */
#leftRail a { display: block; padding: 10px; border-top: 1px solid #DDD; color: #777; font-weight: bold; }
#leftRail a:hover { color: #000; text-decoration: none; }
#leftRail > nav > a:first-child { border: none; }

/* Dialog */
.dialog { display:none; }