<div id="login-dialog" class="dialog">
  <ul>
    <li><%= link_to_sign_in :facebook %></li>
    <li><%= link_to_sign_in :myspace %></li>
    <li><%= link_to_sign_in :twitter %></li>
    <li><%= link_to_sign_in :google %></li>
  </ul>
</div>
