<div id="music-player" class="music-player">
  <button class="icon jp-prev">8</button>
  <button class="icon jp-play">4</button>
  <button class="icon jp-pause">5</button>
  <button class="icon jp-next">7</button>

  <div class="progress"></div>

  <span class="jp-current-time"></span> | <span class="jp-duration"></span>

  <button class="icon jp-mute">&gt;</button>
  <button class="icon jp-unmute">&lt;</button>

  <div class="volume"></div>
</div>
