.search{ padding:10px; }
.search > nav a{ padding:3px 6px;  margin:0 3px;  background-color:#333; color:#fff;  border-radius:4px;  -moz-border-radius:4px; }
.search article{ margin-top: 10px; border-bottom:1px #333 solid;}
.floatRight {float:right;}
.floatLeft {float:left; margin-right:10px;}
.search .artistInformation{overflow:hidden;}
