<header>
  <h2>All Songs</h2>
</header>
{{#if songs}}
<ul class='songs'>
  {{#each songs}}
  <li>
    <div>{{this/title}}</div>
    <div>{{this/album}}</div>
    <div>
      <div class='dropdown'>
        <button data-icon='+'>Add</button>
        <ul>
          {{#each user_playlists}}
          <li>{{this/name}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </li>
  {{/each}}
</ul>
{{else}}
No songs
{{/if}}