<header>
	<h2>{{form/header}}</h2>
</header>
<article class="playlistEdit">
	<span>Please enter a name and description for your playlist:</span>
	<form id="playlist" action="/playlists/create" method="post">
		<ul>
			<li><label for="titlename">Title</label></li>
			<li><input type="text" name="titlename" value="{{form/titlename}}" autofocus maxlength="100" /></li>
			<li><label for="descriptiontext">Description</label></li>
			<li><textarea class="descriptiontext" name="descriptiontext">{{form/descriptiontext}}</textarea>
			<li><button id="formSubmit">Enter</button></li>
		</ul>
	</form>
</article>

