<h1>{{form/header}}</h1>
<form id="playlist" action="/playlists/create" method="post">
	<ul>
		<li><label for="name"></label></li>
		<li><input type="text" name="name"  autofocus maxlength="100" /></li>
		<li><input id="formSubmit" type="submit" value="Enter" /></li>
	</ul>
</form>