<header>
		<div class="actions">
			<button data-icon="9">Play</button>
			<button data-icon="+">Add Song</button>
			<button data-icon="y">Settings</button>
		</div>
    <h2>{{playlist/name}}</h2>
</header>
{{#if playlist/songs}}
<ul class='songs'>
  {{#each playlist/songs}}
    <li>{{this/song/title}}</li>
  {{/each}}
</ul>
{{else}}
This playlist has no songs.
{{/if}}