<header id="header">
  <h1>Zipper</h1>

  <div id="player">
    <%= render "shared/music_player" %>
  </div>

  <nav>
    <% if signed_in? %>
        <%= current_user.name %> (<%= current_user.provider.capitalize %>)
        <%= link_to "Sign Out", signout_path, :class => "signout nosammy" %>
    <% else %>
        <a href="#">Login</a>
        <a href="#" class='signup'>Signup</a>
    <% end %>
  </nav>
</header>